html,
body {
  height: 100%;
  margin: 0;
}

form#passwordCheckForm{
  margin-bottom: 80px;
}

.inactive-account-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
}

.inactive-account-container * {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
}

.inactive-account-container .inactive-account-wrapper {
  background-color: #f1f1f1;
  padding: 20px;
}

.inactive-account-container .inactive-account-title {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.inactive-account-container .inactive-account-subtitle ul {
  padding-left: 16px;
}

.inactive-account-container .inactive-account-subtitle li {
  line-height: 1.5;
  font-size: 12px;
}

.inactive-account-container .inactive-account-subtitle li:not(:last-child) {
  margin-bottom: 8px;
}

.inactive-account-container .inactive-account-info {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-account-container .inactive-account-info > input[type="checkbox"] {
  margin: 0;
  margin-right: 5px;
}

.inactive-account-container .inactive-account-id-wrap {
  margin-top: 55px;
  padding: 0 40px;
  display: flex;
}

.inactive-account-container .inactive-account-id-wrap .inactive-account-id {
  font-weight: bolder;
  width: 35%;
  display: inline-block;
  font-size: 12px;
}

.inactive-account-container .inactive-account-id-wrap .inactive-account-email {
  font-weight: bolder;
  font-size: 12px;
}

.inactive-account-container .inactive-account-password-wrap {
  font-weight: bolder;
  margin-top: 15px;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.inactive-account-container .inactive-account-password-wrap .inactive-account-password {
  width: 35%;
  display: inline-block;
  font-size: 12px;
}

.inactive-account-container .inactive-account-password-wrap .inactive-account-password-input {
  border: 2px solid #e0e0e0;
  padding: 10px;
  width: 65%;
  outline: none;
}

.inactive-account-container .inactive-account-password-type {
  color: #fd0000;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 41%;
  flex: 1;
}

.inactive-account-container .inactive-account-button-wrapper .inactive-account-button-area > button {
  flex: 1;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #ffea61;
  margin-top: 15px;
}
